@font-face {
  font-family: 'font-Number';
  src: url(https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800);
  unicode-range: U+0021-0040;
}

html{
    min-height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    width: 100%;
    color: #333;
    /* height: ; */
    background: linear-gradient(-180deg, rgba(233, 240, 250, 1), rgba(205, 234, 236, 1));
    font-family: 'Zen Maru Gothic';
}

header {
    background: #333333;
    color: #ffffff;
    height: 40px;
}

main {
    /* background: #ffffff; */
    flex: 1;
}

footer {
    background: #ffffff;
    color: #ffffff;
    height: 70px;
    /* position: fixed; */
    bottom: 0%;
}

.h-70px{
    height: 70px !important;
}

.w-130px{
    width: 130px !important;
}

/* ホーム画面のタイトル */
.outer{
  display: table;
  width: 100%;
  height: 70vh;
}
.home_title{
  font-family: 'Zen Maru Gothic';
  font-weight: 800;
  color: #456183;
  opacity: 1;
  display: block;
  text-align: center;
  font-size: 32px;
  opacity: 1;
  margin-top: 1em;
}

.home_png{
  display: block;
  margin-top: 70%;
  margin-left: 18%;
  text-align: center;
  /* margin: auto; */
}

/* TAPボタン */
.DivLink{
  position:relative;
  width:100%;
  height:0;
  background-color:none;
}

.DivLink .Link{
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
}


/* いいねボタン */

.inebody {
  /* border-top: 1px solid #333; */
  margin: 20px;
  display: flex;
  width: 230px;
  height: 5em;
  position: relative;
  /* align-items: center;
  justify-content: center; */
  /* z-index: -1; */
}
input[type="checkbox"] {
  display: none;
}
.inelabel {
  position: absolute;
      right: 0;
      bottom: 0;
  cursor: pointer;
}
label svg {
  width: 20px;
}
input[type="checkbox"] + label svg {
  fill: #b3b3b3;
  transition: all .3s;
}
input[type="checkbox"]:checked + label svg {
  fill: #e5bc2a;
  animation: like .8s ease-out;
  transition: all .3s;
}
@keyframes like {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(.5,.5);
  }
  100% {
    transform: scale(1,1);
  }
}

.diary_form{
  position: absolute;
      right: 0;
      bottom: 0;
}


/* 通常のボタン色 */
.btn-menu,
.btn-menu.disabled, .btn-menu:disabled {
  color: #fff;
  background-color: #fff;
  border-color: rgb(122, 176, 218);
}

/* focusされた時の枠線の色 */
.btn-menu:focus, .btn-menu.focus,
.btn-menu:not(:disabled):not(.disabled):active:focus, .btn-menu:not(:disabled):not(.disabled).active:focus,
.show > .btn-menu.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(203, 231, 244, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定） */
.btn-menu:hover {
  color: #fff;
  background-color: #B6DCE2;
  border-color: #B6DCE2;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-menu:not(:disabled):not(.disabled):active, .btn-menu:not(:disabled):not(.disabled).active,
.show > .btn-menu.dropdown-toggle {
  color: #fff;
  background-color: #A7CBD0;
  border-color: #A7CBD0;
}

.container-menu{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row-menu{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding: 0%;
    margin: 0%;
    /* margin-top: var(--bs-gutter-y); */
}

/* .btn{
  position: fixed;
  margin: 0;
  padding: 0;
} */

.btn-group{
    margin: 0;
    padding: 0;
    bottom: 0%;
}

.btn-group:not(:first-child), .btn:not(:first-child){
  margin-left: 0;
}

.fa-rotate-135 {
	transform: rotate(135deg);
}

/*日記保存ボタン*/
.fixed_btn
{
  position: fixed;
  width: 75px;
  height: 75px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #fff;
  border-radius: 50%;
  bottom: 15%; 
  right: 15%;
  padding: 25px 25px;
  text-align:center
}

/* *,*:after,*:before{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
} */


/*日記書き込みフォーム*/
section{
  max-width:20.5em;
  max-height: 40em;
  margin: 0%;
  padding: 0%;
}
  
/* ul{
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
} */

li{
  list-style-type: none;
  position: relative;
}

/* h1{
  display:block;
  text-align: left;
  background: #323A45;
  color:white;
  margin:0;
  padding: 0.75em 0;
  font-weight: normal;
  border-radius:5px 5px 0 0;
} */
  
.form{
  position: relative;
  border-radius: 0.67em;
  height: 40em;
  margin-top: 1em;
  border:1px solid #ccc;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}  
  
ul li:not(:last-child){
  margin: 0%;
  padding: 0%;
  display:block;
  border-bottom:1px solid #ccc;
  margin-bottom: 0em;
}
  
 .label_diary{
  font-family: 'Zen Maru Gothic';
  display:block;
  font-size: .8125em;
  /* position: relative; 
  top: 20px;
  left: 1em; */
  padding-bottom: 1.2em;
  color: #8ec9ff;
  opacity: 1;
  transition:top 0.4s ease, opacity 0.6s ease , color 0.4s ease;
} 
  
input,textarea{
  display:block;
  width:100%;
  height:100%;
  border:0;
  outline:none;
  padding:1em 1em 1em;
  font-size: 1.2em;
}
  
textarea{
  font-family: 'Zen Maru Gothic';
  height:30em;
  resize:none;
  font-size: 1.2em;
  padding-left: 0.85em;
}

/* だれかのみらいが届きました！の文章配置 */
.mail{
  font-family: 'Zen Maru Gothic';
  text-align: center;
  font-size: 20px;
  opacity: 1;
  padding-bottom: 1.2em;
}

/* 他人のみらいを表示させるタブ画面 */
.future_mail{
  position: relative;
  border-radius:15px 15px 15px 15px;
  margin : 0 auto;
  height: 11.75em;
  width: 75%;
  margin-top: 1.5em;
  border:1px solid #ccc;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.future_hope{
  position: relative;
  border-radius:15px 15px 15px 15px;
  margin : 0 auto;
  height: 12em;
  width: 75%;
  padding-top: 15px;
  margin-top: 1.5em;
  border:1px solid #ccc;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

input[type="submit"]{
  display:block;
  background:  #77aff4;
  padding: 1em;
  color:white;
  text-transform: uppercase;
  cursor:pointer;
}

.js-hide-label label{ 
  opacity:0;
    top:1.8em;
  }
  
  .js-unhighlight-label label{
  color:#333;
  }
  
  .js-highlight-label label{
  color:#f1773b;
  }  

 /* ｛交換しますか｝のポップアップ表示 */
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 380px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 6px;
	display: block;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}
.exchange{
  text-align:center;
  margin-top: 2rem;
  }
.exchange button:first-of-type{
  margin-right: 30px;
}
.text{
  margin-top: 3rem;
  text-align:center;
}
button.btn--exchange {
  color: #000;
  background-color: #e0f8ff;
  border-bottom: 5px solid #aaaaaa;
}

button.btn--exchange:hover {
  margin-top: 3px;
  color: #000;
  background: #e0f8ff;
  border-bottom: 2px solid #aaaaaa;
}

/* 自分の未来の文章配置 */
.mymirai{
  font-family: 'Zen Maru Gothic';
  text-align: right;
  font-size: 20px;
  opacity: 1;
  padding-bottom: 0.2em;
  margin-right:13%;
}

.back_btn{
  position: fixed;
  width: 50px;
  height: 50px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #83BABE;
  border-radius: 50%;
  left: 10%; 
  top: 5%;
  padding: 15px 10px;
  text-align:center
}

.hope {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-hope {
  color: #fff;
  background-color: #35495b;
  /* border-color: #F1D56F; */
}

.dropdown-hoped {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 500;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFF1BD;
  border: 0;
}

.dropdown-hopenot {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 500;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: #DDF4FB;
  border: 0;
}

.wrapper{
  /* padding-bottom: 60px; */
  box-sizing: border-box;
}

footer{
  position: fixed;
  bottom: 0;
  z-index: 1;
}